/* *{
    background-color: #5f9ea0;
} */
.pagination {
    text-align: center;
    padding-top: 80px;

}
.pagination button {
    font-family: var(--primary-font);
    display: inline-block;
    font-size: 1.2rem;
    padding: 12px;
    width: 3rem;
    border: 1px solid var(--primary-color) ;
    text-decoration: none;
    /* transition: 0.4s; */
    outline: none;
    margin: 6px;
    border-radius: 50%;
    background-color: rgba(95, 158, 160, 0);
    color: white;

}
.pagination .page-number:hover {
    /* color: rgb(5, 3, 3); */
    background-color: var(--primary-color);
    /* background-color: rgba(95, 158, 160, 0); */
    /* width: 3.1rem;
    height: 3.1rem; */
    box-shadow: none;
}


.page-number .active:active {
    /* color: blue; */
    background-color: #DCCC37;
    /* background-color: #DCCC37; */

  }