*{
    font-family: var(--primary-font);
}
.now-playing{
    display: flex;
    justify-content: space-between;
    height: 50vh;
}
.movie-card{
    position: relative;
    text-align: center;
    z-index: 0;
    margin: 30px;
    
}
.poster{
    width:200px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,1);

}
.movie-title{
    position: absolute;
    color: cornsilk;
    /* background-color: rgba(128, 128, 128, 0.404); */
    bottom: 8px;  
    font-weight: 500;
    font-size: 1rem;
    right: 4px;
    left:4px;
}
.release-date{
    position: absolute;
    color: aliceblue;
    font-weight: 500;
    font-size: 1rem;
    top: 8px;  
    left:4px;
}
.avg-vote{
    position: absolute;
    display: flex;
    color: #DCCC37;
    font-weight: 500;
    font-size: 1rem; 
    top: 8px;
    right: 5px;
}
/* .movie-card-hover{
    display: none;
} */
/* .movie-card-hover {
} */

.movie-card:hover .movie-card-hover {
    display: block;
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
    animation-duration: 0.4s;
    
}
.movie-card-hover{
    display: none;
    background-color: rgba(0, 0, 0, 0.863);
    width: 200px;
    height: 300px;
    position: absolute;
    /* margin: 100px; */
    top: 0;
    left: 0;

    
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
  
.more-details{
    position: absolute;
    color: rgb(255, 242, 65);
    font-weight: 500;
    font-size: 1.5rem;
    bottom: 150px;  
    left: 4px;
    right:4px;
}



.fa-chevron-circle-right {
    animation: blinker 1.3s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }