
.navbars{
    height: 80px;
    /* background-color: blanchedalmond; */
    /* display: flex; */
    /* justify-content: space-evenly; */

    /* position: absolute; */
    /* z-index: 1; */
    left: 100px;
    right: 100px;
    /* align-items: center; */
}
.linksContainer{
    display: flex;
    justify-content: space-evenly;
    /* color: rgb(165, 69, 69); */
}

.link-item{
    text-decoration: none;
} 
/* .link-item:visited {
    text-decoration: none;
  } */ 