.carousel-container{
    /* height: 100px; */
    /* background-color: blanchedalmond; */
    padding-left: 200px;
    padding-right: 200px;
    position: relative;
    
}
.slider-container{
    display: flex;
    position: relative;
}
/* .slider-img{
    position: relative;
} */

.slider-title{
    color: rgb(255, 255, 255);
    font-size: 4rem;
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 1;

}
.slider-year{
    color: rgb(255, 255, 255);
    font-size: 4rem;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1;

}